<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>customer-root</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>customer-root works!</ion-card-subtitle>
      <ion-card-title>customer title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button
        (click)="goBack()"
        type="button"
        class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      >
        Home
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
