#if($ctx.error)
    $utils.appendError($ctx.error.message, $ctx.error.message)
#end

#set($items = [])
#foreach($i in $ctx.result.items)
    $util.qr($items.add($i.DATA))
#end
$util.toJson($items)