<ion-header class="flex p-4">
  <div class="flex items-center">
    <button
      [routerLink]="['/home']"
      type="button"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Home
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="grid w-full grid-flow-row gap-10 my-10 lg:grid-flow-col">
    <app-admin-info></app-admin-info>
    <app-employee-list></app-employee-list>
  </div>

  <div class="grid w-full grid-flow-row gap-10 my-10 lg:grid-flow-col">
    <app-store-list></app-store-list>
    <app-inventory></app-inventory>
  </div>
</ion-content>

<ion-footer class="relative z-10 flex w-full max-w-2xl p-4 mx-auto">
  <div class="flex items-center justify-between w-full">
    <button
      type="button"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Back
    </button>
    <div class="flex flex-row items-center justify-center space-x-6">
      <div class="flex flex-row items-center justify-center space-x-2">
        <button
          type="button"
          class="p-2 rounded-full shadow-sm bg-light-tint text-dark hover:bg-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-light"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 12h-15"
            />
          </svg>
        </button>
        <ion-label class="text-lg text-dark">1</ion-label>
        <button
          type="button"
          class="p-2 rounded-full shadow-sm bg-light-tint text-dark hover:bg-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          <svg
            class="w-5 h-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
            />
          </svg>
        </button>
      </div>
      <button
        type="button"
        class="rounded-md bg-light-tint px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Add to Order
      </button>
    </div>
    <button
      type="button"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Next
    </button>
  </div>
</ion-footer>
`,
