<div class="w-full h-full bg-blue-600 flex justify-center items-center">
  <ul class="flex flex-col">
    <li>
      <button
        type="button"
        class="m-4 w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        (click)="navigateToPage('admin')"
      >
        Admin
      </button>
    </li>
    <li>
      <button
        type="button"
        class="m-4 w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        (click)="navigateToPage('employee')"
      >
        Employee
      </button>
    </li>
    <li>
      <button
        type="button"
        class="m-4 w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        (click)="navigateToPage('customer')"
      >
        Customer
      </button>
    </li>
  </ul>
</div>
